body {
    font-family: 'Roboto', sans-serif !important;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(204, 237, 255) !important;
    color: rgb(138, 157, 240) !important;
}


.overlay {
    background-color: rgba(40, 40, 40, 0.562);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
}


.homeContainer {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
}

.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#img1 {
    background-image: url("img/TCCDC2019.JPG");
}

#img2 {
    background-image: url("img/worship.jpg");
}

#img3 {
    background-image: url("img/rainbow.jpg");
}

#img4 {
    background-image: url("img/easter.jpg");
}

#img5 {
    background-image: url("img/dayLaborer.jpg");
    background-position: top;
}

.carousel-caption {
    top: 59%;
    transform: translateY(-50%);
}

#joshua15 {
    font-size: 40px;
}

#c-caption-2 {
    top: 59%;
}


#mt185 {
    font-size: 22px;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
}


.nav-link {
    margin-right: 13px;
}

.custom-toggler .navbar-toggler-icon {
    background-color: rgb(0, 0, 0);

}

.navbar-toggler {
    width: 35px;
    height: 30px;
    background-color: rgb(138, 157, 240) !important;
    padding: 4px 5px;
}

.line-box {
    width: 100%;
}


#worship-service {
    padding: 0px 150px;
}

#about {
    width: 100vw;
    padding: 0px 0;
}

.btn-action {
    font-family: 'Lato', sans-serif;
    border-radius: 25px;
    padding: 10px;
    color: black !important;
    border: #000000 solid 2px;
    width: 30%;
}

#btn-give {
    background-color: rgb(149, 222, 32);
    margin-right: 18px;
}

#btn-contact {
    background-color: rgb(165, 160, 255);
}

.name {
    font-family: 'Lato', sans-serif;
}


.service {
    font-family: 'Lato', sans-serif;
    padding: 40px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 30px;
    background-color: rgba(241, 233, 255, 0.619);
    width: 560px;
    color: #4c28ae;
}


.text-indent {
    text-indent: 5%;
}

hr {
    width: 50%;
    height: 1px;
    background-color: rgb(230, 230, 230);
}

.textbox {
    width: 680px;
}

#img-cross {
    width: 25%;
}

#become-member {
    background-color: rgb(127, 191, 24);
    width: 100vw;
    color: #fff;
}

#btn-join-us {
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.639);
    padding: 6px 20px;
    border-radius: 35px;
    font-weight: bold;
}

#become-member-h3 {
    font-weight: bold;
    font-size: 30px;
}

.fa-bars {
    color: rgb(29, 29, 29);
}

footer {
    width: 100vw;
    padding: 5px 15%;
    background-color: rgb(0, 0, 0);
    background-color: rgb(62, 33, 211);
}

.fa-facebook-square,
.fa-instagram,
.fa-youtube-square,
.footer-text {
    color: #fff;
}



.footer-text {

    font-size: 13px;

}